.guesses {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

img {
  min-width: 600px;
  max-width: 100%;
  height: auto;
}

.imagemap {
  position: relative;
}

.imagemap img {
  display: block;
}

.imagemap .guess {
  display: block;
  position: absolute;
  transition: box-shadow 0.15s ease-in-out;
  border-radius: 50%;
}

.imagemap .guess:hover {
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
}
